<h1>Employee#add</h1>
<form>
 <p>Nombre del empleado</p><input type="text" required id="employee_name" maxlenght="50" pattern="[A-Z]"/>
 <p>Apellido Paterno</p><input type="text" required id="employee_plastname" pattern="[A-Z]"/>
 <p>Apellido Materno</p><input type="text" required id="employee_mlastname" pattern="[A-Z]"/>
 <p>Direcci&oacute;n</p><input type="textarea" required id="employee_address" pattern="[A-Z]" rows="10" cols="15"/>
</form>
<p>Find me in app/views/employee/add.html.erb</p>
